.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 3rem;
  max-height: 60vh;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #15655c;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  margin-top: 0.4rem;
}

.actions button:hover,
.actions button:active {
  background-color: #0d4a43;
  border-color: #0d4a43;
  color: white;
}

.actions .button--alt {
  color: #15655c;
}

.actions .button {
  background-color: #15655c;
  color: white;
}

.actions button:disabled,
.actions button:disabled:hover,
.actions button:disabled:active {
  background-color: #c9c9c9;
  color: #525252;
  pointer-events: none;
}