.form {
  margin: 1rem 0;
  height: 100%;
  max-height: 80vh;
  overflow: auto;
  padding: 1rem;
}

.control {
  margin-bottom: 0.7rem;
}

.control p {
  color: #aa0b20;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.35rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 0.57rem;
  width: 100%;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.actions button {
  font: inherit;
  color: #15655c;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem; 
}

.actions button:hover,
.actions button:active {
  background-color: #dfe8e7;
}

.actions .submit {
  border: 1px solid #15655c;
  background-color: #15655c;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #0e4d46;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.actions button:disabled,
.actions button:disabled:hover,
.actions button:disabled:active {
  background-color: #c9c9c9;
  color: #525252;
  pointer-events: none;
}

.error {
  color: #aa0b20;
}

.orderPlaced {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.orderPlaced svg {
  fill: #15655c;
  width: 3rem;
  margin-bottom: 0.5rem;
}

.orderPlaced span {
  color: #15655c;
  cursor: pointer;
}